.primary-color {
	background-color: #7e57c2 !important;
	color: white;
}

.btn.primary-color:hover {
	color: white;
	background-color: #744bbd !important;
}

.navbar-brand img {
	padding: 10px 0;
}

.btn-rounded {
	border-radius: 20px;
	padding: 8px 25px;
}

header h4 {
	font-size: 40px;
	margin-top: 150px;
	margin-bottom: 30px;
}

.active a {
	color: #7e57c2 !important;
}

.nav-link:hover {
	color: #7e57c2 !important;
}

.container-bg {
	background-color: rgb(238, 238, 238);
}

.card:hover {
	background-color: rgb(245, 245, 245);
}

.card {
	border-radius: 20px;
	border: 1px solid #7e57c2;
}
.card img {
	width: 50%;
}

.details {
	background-color: #7e57c2;
}

.details-img {
	background-color: #faf9fd;
	border-radius: 20px;
}

.details span {
	border-bottom: 2px solid white;
	padding-bottom: 1px;
}

@media (max-width: 767.98px) {
	header h4 {
		margin-top: 50px;
	}

	header .btn {
		width: 100%;
		margin-bottom: 10px;
	}

	.details-img {
		width: 100% !important;
	}

	.details h2 {
		margin-top: 20px;
	}

	.details a {
		width: 100%;
	}
}
